<div class="feature_div"  style="margin-top: -100px">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="feature_inner">
        <svg width="36" height="40" viewBox="0 0 36 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.903 2.34375C30.0495 2.34375 29.2494 2.57414 28.5593 2.97437V1.17188C28.5593 0.524687 28.0346 0 27.3874 0H8.63742C7.99016 0 7.46547 0.524687 7.46547 1.17188V2.98867C6.76992 2.57953 5.96063 2.34375 5.09695 2.34375C2.51227 2.34375 0.409454 4.44656 0.409454 7.03125C0.409454 9.00273 0.993673 10.9077 2.09891 12.5402C3.98047 15.3193 6.3007 16.0405 8.22063 16.8084C9.32766 19.5653 11.5663 21.7502 14.3589 22.7846L13.4948 28.2812H13.3249C11.3864 28.2812 9.8093 29.8584 9.8093 31.7969V37.6562H8.63742C7.99023 37.6562 7.46555 38.1809 7.46555 38.8281C7.46555 39.4753 7.99023 40 8.63742 40H27.3874C28.0346 40 28.5593 39.4753 28.5593 38.8281C28.5593 38.1809 28.0346 37.6562 27.3874 37.6562H26.2155V31.7969C26.2155 29.8584 24.6384 28.2812 22.6999 28.2812H22.5301L21.666 22.7847C24.4627 21.7487 26.7038 19.5591 27.8092 16.7966C29.6229 16.0711 32.0003 15.3478 33.9012 12.5402C35.0064 10.9077 35.5906 9.00266 35.5906 7.03125C35.5905 4.44656 33.4877 2.34375 30.903 2.34375ZM7.4568 13.9787C4.59945 12.8357 2.7532 10.1087 2.7532 7.03125C2.7532 5.73891 3.80461 4.6875 5.09695 4.6875C6.3893 4.6875 7.4407 5.73891 7.4407 7.03125C7.4407 7.11367 7.44938 7.19398 7.46555 7.27156V12.8906C7.46555 13.2673 7.48578 13.6392 7.52453 14.0058L7.4568 13.9787ZM23.8718 37.6562H12.153V35.3125H23.8718V37.6562ZM22.6999 30.625C23.3461 30.625 23.8718 31.1507 23.8718 31.7969V32.9688H12.153V31.7969C12.153 31.1507 12.6788 30.625 13.3249 30.625C13.9607 30.625 21.2089 30.625 22.6999 30.625ZM15.8673 28.2812L16.6427 23.3487C17.0912 23.4071 17.5483 23.4375 18.0124 23.4375C18.4766 23.4375 18.9337 23.407 19.3821 23.3487L20.1576 28.2812H15.8673ZM26.2155 12.8906C26.2155 17.4138 22.5356 21.0938 18.0124 21.0938C13.4892 21.0938 9.8093 17.4138 9.8093 12.8906V7.03125H26.2155V12.8906ZM26.2155 4.6875H9.8093V2.34375H26.2155V4.6875ZM28.5431 13.9787L28.5015 13.9953C28.5395 13.6322 28.5592 13.2637 28.5592 12.8906V7.03125C28.5593 5.73891 29.6107 4.6875 30.903 4.6875C32.1954 4.6875 33.2468 5.73891 33.2468 7.03125C33.2468 10.1087 31.4005 12.8358 28.5431 13.9787Z" fill="#121212"/>
          </svg>
        <div class="d-flex feature_inner_child">
          <h3 class="feature_title">High Quality</h3>
          <p class="feature_content">4.9 Ratings</p>
        </div>
      </div>
    </div>
   
    
    <div class="col-md-4 col-sm-6">
      <div class="feature_inner">
        <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36.8986 19.7347V1.51981C36.8986 0.869985 36.3718 0.343155 35.722 0.343155H4.19674C3.54691 0.343155 3.02008 0.869985 3.02008 1.51981V21.1867C2.45246 21.2694 1.89755 21.4898 1.40664 21.8542C-0.140899 22.9516 -0.506918 25.4073 0.789368 26.9219L6.08928 33.347C9.36996 37.1866 12.855 37.657 18.0359 37.657C22.4819 37.657 24.4696 37.6766 28.3443 36.7937L32.1173 35.8913C32.7291 36.7456 33.7003 37.2991 34.7922 37.2991H36.6508C38.4975 37.2991 40 35.7163 40 33.7708V23.2523C40.0001 21.3947 38.63 19.8688 36.8986 19.7347ZM31.6098 22.1551L30.042 21.3588C27.4642 20.0577 24.4839 20.0095 21.8655 21.2269C21.1511 21.5079 19.5929 22.4506 18.7847 22.4191H13.3445C11.54 22.4191 10.0718 23.8872 10.0718 25.6918V26.5499C10.0617 26.5392 10.0511 26.5291 10.0411 26.5183L6.15619 22.3014C5.9211 22.0462 5.65697 21.8326 5.37348 21.6613V9.98737H15.0027V14.3007C15.0027 14.9505 15.5295 15.4774 16.1794 15.4774H23.6042C24.254 15.4774 24.7808 14.9505 24.7808 14.3007V9.98737H34.5454V19.7346C33.1706 19.8408 32.0242 20.8243 31.6098 22.1551V22.1551ZM17.356 9.98737H22.4274V13.124H17.356V9.98737ZM34.5453 7.63405H24.7808V2.69647H34.5454V7.63405H34.5453ZM22.4275 2.69647V7.63413H17.356V2.69647H22.4275ZM15.0026 2.69647V7.63413H5.3734V2.69647H15.0026ZM27.7982 34.5046C24.2188 35.3244 22.0631 35.2912 18.0781 35.2912C13.2146 35.2912 10.8646 35.2126 7.90479 31.8494L2.60488 25.4243C1.683 24.2239 3.35276 22.8068 4.4254 23.8957L8.31034 28.1127C9.3371 29.1961 10.6291 29.7924 12.2216 29.8274H22.9926C23.6425 29.8274 24.1693 29.3006 24.1693 28.6508C24.1693 28.0009 23.6425 27.4741 22.9926 27.4741H12.425V25.6916C12.425 25.1847 12.8374 24.7723 13.3444 24.7723H18.7847C20.0103 24.86 21.7793 23.8367 22.8575 23.3607C24.8186 22.4489 27.0508 22.485 28.9789 23.4582L31.4432 24.7098V33.6327L27.7982 34.5046ZM37.6467 33.7707C37.6467 34.4186 37.2 34.9457 36.6509 34.9457H34.7922C34.2431 34.9457 33.7965 34.4186 33.7965 33.7707V23.2523C33.7965 22.6045 34.2432 22.0773 34.7922 22.0773H36.6509C37.2 22.0773 37.6467 22.6044 37.6467 23.2523V33.7707Z" fill="#121212"/>
          </svg>
          
        <div class="d-flex feature_inner_child"> 
          <h3 class="feature_title">Customer Happiness</h3>
          <p class="feature_content">Overall 99.99%</p>
        </div>

      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="feature_inner" style="border-right: 0px solid #8d2020!important;">
        <svg width="36" height="40" viewBox="0 0 36 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M34.4624 15.9752C34.1995 7.12163 26.9161 -1.52588e-05 18 -1.52588e-05C9.08381 -1.52588e-05 1.80043 7.12163 1.53745 15.9752L0.352905 17.1598V25.1932L1.52938 26.3696V31.8431C1.52938 35.0434 4.13298 37.647 7.3333 37.647H8.79055C9.2762 39.0164 10.5839 40 12.1176 40H14.4706C16.0053 40 17.3137 39.015 17.7986 37.6442C17.8658 37.6454 17.9331 37.647 18 37.647C23.6814 37.647 28.4351 33.5987 29.5281 28.2353H32.6049L35.647 25.1932V17.1598L34.4624 15.9752ZM18 2.35293C24.9828 2.35293 30.7969 7.44932 31.9204 14.1176H29.5281C28.4351 8.75418 23.6814 4.70587 18 4.70587C12.3186 4.70587 7.56483 8.75418 6.47181 14.1176H4.07949C5.20302 7.44932 11.0171 2.35293 18 2.35293V2.35293ZM27.1139 14.1176C23.3109 14.1063 20.6246 14.3379 18.4098 11.1004L17.3344 9.52838L16.4102 11.1938C15.0635 13.6204 13.2499 14.1176 10.9411 14.1176H8.886C9.93346 10.0629 13.6225 7.05881 18 7.05881C22.3775 7.05881 26.0665 10.0629 27.1139 14.1176V14.1176ZM6.23526 25.8823H4.36961L2.70585 24.2186V18.1343L4.36961 16.4706H6.23526V25.8823ZM3.88232 31.8431V28.2353H6.46953C6.91244 30.4294 7.97212 32.4434 9.542 34.0611C9.21291 34.4127 8.95479 34.8311 8.79055 35.2941H7.3333C5.4304 35.2941 3.88232 33.746 3.88232 31.8431V31.8431ZM14.4706 37.647H12.1176C11.4688 37.647 10.9411 37.1194 10.9411 36.4706C10.9411 35.8219 11.4688 35.2941 12.1176 35.2941H14.4706C15.1193 35.2941 15.647 35.8219 15.647 36.4706C15.647 37.1194 15.1193 37.647 14.4706 37.647ZM27.4117 25.8823C27.4117 31.072 23.1896 35.2941 18 35.2941C17.9325 35.2941 17.8645 35.2928 17.7966 35.2912C17.3102 33.9234 16.0032 32.9412 14.4706 32.9412C12.0549 32.9465 12.0934 32.9291 11.7923 32.9568C9.74977 31.1665 8.5882 28.6165 8.5882 25.8823V16.4706H10.9411C13.0233 16.4706 15.5589 16.1273 17.5218 13.7384C20.1116 16.4524 23.2764 16.4706 26.1175 16.4706H27.4117V25.8823ZM33.2941 24.2186L31.6303 25.8823H29.7647V16.4706H31.6303L33.2941 18.1343V24.2186Z" fill="#121212"/>
          </svg>
          
        <div class="d-flex feature_inner_child"> 
          <h3 class="feature_title">24/7 Support</h3>
          <p class="feature_content">Dedicated support</p>
        </div>

      </div>
    </div>    
  </div> 
 
</div>

<div class="container page-width app_section">
  <div class="row">
    <div class="col-md-6">
      <h2 class="service_title" style="margin-top: 60px">Zepto Product Personalizer</h2>
      <p style="text-align: justify;">Exclusive Shopify App for Live Preview, with unlimited customization options and more. Reduce delivery time by automating the customer preference right from your store. </p>

      <ul class="service_features">
        <li>Unlimited Customization</li>
         <li>Additional Charge</li>
         <li>Conditional Logic</li>        
      </ul>

    </div>
    <div class="col-md-6">
      <iframe style="width:100%; height:380px" class="embed-responsive-item" src="https://www.youtube.com/embed/cqjlMgZ6964?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
  </div>
</div>