<!-- section 1 -->
<style>
  h2.service_title {
      font-size: 32px;
      color: #212326;
      font-weight: 700;
      font-family: "Nunito";
      margin-top: 65px;
  }
  h3.feature_title {
      font-size: 20px;
      font-weight: 600;
  }
  ul.service_features {
      list-style: disc;
      margin-left: 20px;
      margin-top: 25px;
      margin-bottom: 30px;
  }
  ul.service_features li {
      font-weight: 600;
      margin-top: 6px;
      font-family: "Nunito"!important;
      font-size: 20px;
      line-height: 35px;
  }
  p.service_desc {
      font-family: "Nunito"!important;
      font-size: 19px!important;
      margin-top: 20px!important;
  }
  .cbtn{
      font-weight: 600;
      background-color: #0075BF;
      border-radius: 5px;
      color: white;
      width: 200px;
  }
  .cbtn:hover {
      color: #fff;
  }
  
  </style>
  
  <div class="container page-width">
    <div class="row">
      <div class="col-md-6" style="margin: 0; padding:0">
        <img src="https://cdn.shopify.com/s/files/1/0097/3520/9045/files/home-banner1_540x.jpg" loading="lazy" alt="">
      </div>
   
      <div class="col-md-6" style="padding: 0px 25px">
        <h2 class="service_title">Professional theme setup and migration services</h2>
        <p class="service_desc">Confused by all those theme options? Need to move to Shopify from another platform? We'll get you up and ready to sell in no time with our premium setup services. </p>
        
        <div class="service_features">
            <ul class="service_features">
              <li>All theme and Shopify-related options setup
              </li>
               <li>All images optimized and resized
              </li>
              <li>Built with SEO and page speed in mind
              </li>
              <li>All images optimized and resized</li>
            </ul>
        </div>
  
        <div class="cbtn"><a href="/products/custom-shopify-theme-development" class="button cbtn">Learn More</a></div>
  
      </div>    
    </div> 
  </div>



<!-- section 2 -->
<style>
h2.service_title {
    font-size: 32px;
    color: #212326;
    font-weight: 700;
    margin-top: 65px;
}
h3.feature_title {
    font-size: 20px;
    font-weight: 600;
}
ul.service_features {
    list-style: disc;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}
ul.service_features li {
    font-weight: 600;
    margin-top: 6px;
    font-family: "Nunito"!important;
    font-size: 20px;
    line-height: 35px;
}
p.service_desc {
    font-family: "Nunito"!important;
    font-size: 19px!important;
    margin-top: 20px!important;
}
.cbtn{
    font-weight: 600;
    background-color: #0075BF;
    border-radius: 5px;
    color: white;
    width: 200px;
}
.cbtn:hover {
    color: #fff;
}

</style>

<div class="container page-width">
  <div class="row">
    
    <div class="col-md-6" style="padding: 0px 25px">
      <h2 class="service_title">Custom Shopify App Development</h2>
      <p class="service_desc">Whatever you need in your custom Shopify app – we can deliver.  Use the contact form below and one of our team will get back to you.</p>
      
      <div class="service_features">          
          <ul class="service_features">
            <li>Royal Mail Click &amp; Drop integration with API3</li>
            <li>Bespoke ad feeds for multi currency using Global e</li>
            <li>Flooring calculator</li>
            <li>Custom PIM integrations</li>
            <li>Custom warehouse integrations</li>
            </ul>
      </div>
      <div class="cbtn"><a href="/products/custom-shopify-theme-development" class="button cbtn">Learn More</a></div>
    </div>    
    <div class="col-md-6" style="margin: 0; padding:0">
      <img src="https://cdn.shopify.com/s/files/1/0097/3520/9045/files/home-banner2_540x.jpg" loading="lazy" alt="">
    </div>

  </div> 
</div>



<!-- section 3 -->
<style>
  h2.service_title {
      font-family: emoji;
      font-size: 32px;
      color: #212326;
      font-weight: 700;
      font-family: "Nunito";
      margin-top: 65px;
  }
  h3.feature_title {
      font-size: 20px;
      font-weight: 600;
  }
  ul.service_features {
      list-style: disc;
      margin-left: 20px;
      margin-top: 25px;
      margin-bottom: 30px;
  }
  ul.service_features li {
      font-weight: 600;
      margin-top: 6px;
      font-family: "Nunito"!important;
      font-size: 20px;
      line-height: 35px;
  }
  p.service_desc {
      font-family: "Nunito"!important;
      font-size: 19px!important;
      margin-top: 20px!important;
  }
  .cbtn{
      font-weight: 600;
      background-color: #0075BF;
      border-radius: 5px;
      color: white;
      width: 200px;
  }
  .cbtn:hover {
      color: #fff;
  }
  
  </style>
  
  <div class="container page-width">
    <div class="row">
      <div class="col-md-6" style="margin: 0; padding:0">
        <img src="https://www.productpersonalizer.com/docs/wp-content/uploads/2022/06/customized-ecommerce.png" loading="lazy" alt="" style="margin-top: 50px;">
      </div>
   
      <div class="col-md-6" style="padding: 0px 25px">
        <h2 class="service_title">Custom Ecommerce Development</h2>
        <p class="service_desc">Confused by all those theme options? Need to move to Shopify from another platform? We'll get you up and ready to sell in no time with our premium setup services. </p>
        
        <div class="service_features">
            <ul class="service_features">
              <li>Simple manipulation of products and categories</li>
              <li>User management</li>
              <li>Payment and order overview</li>
              <li>User security</li>
              <li>Great social network integration</li>
              <li>Overview of bestselling products</li>
              <li>Possibility of adding discounts and special offers</li>
              <li>Price and category sorting</li>
            </ul>
        </div>
  
        <div class="cbtn"><a href="/pages/custom-ecommerce" class="button cbtn">Learn More</a></div>
  
      </div>    
    </div> 
  </div>