<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>
 @media only screen and (max-device-width : 768px)  
{
	.carousel {
		width: 100%!important;
		margin: 0 auto;
		padding-bottom: 50px;
	}
	span.left_quote {
		font-size: 174px!important;
		line-height: 347px!important;
	}
}

.carousel {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 340px;
}
.carousel .carousel-item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
    font-size: 1.3em!important;
    font-family: 'Raleway';
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #999;
	text-shadow: none;
	top: 400px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control-prev {
	left: auto;
}
.carousel-control-next i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border: none;
}
.carousel-indicators li.active {		
	background: #888;		
}
span.left_quote{
    position: absolute;
width: 114px;
height: 138px;
left: 0px;
top: 0px;

font-family: 'Archivo';
font-style: normal;
font-weight: 400;
font-size: 288px;
line-height: 313px;
text-align: center;

color: #EFF4F5;

}

span.right_quote{
    position: absolute;
width: 114px;
height: 138px;
left: 1213px;
top: 376px;

font-family: 'Archivo';
font-style: normal;
font-weight: 400;
font-size: 288px;
line-height: 313px;
text-align: center;

color: #EFF4F5;

transform: rotate(-180deg);
}
</style>


<div class="rich-text__blocks"><h2 class="h1 text-center" style="margin-bottom: 50px">Customers Feedback</h2>
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Carousel indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- Wrapper for carousel items -->
	<div class="carousel-inner">		
		<div class="carousel-item active">
			<div class="img-box"><img class="p-3 border border-primary" src="https://img.icons8.com/officel/100/000000/person-male.png"/></div>
			<p class="testimonial"><span class="left_quote">“</span>This is such an amazing app, I am so pleased for all the help the support the guys have given me, I'm not very tech savy and they answered all my questions quickly and clearly. Sending me all the help I needed.
				I have been using the free trail to get used to how it works but will be continuing using this app in my website. It's very user friendly - for us and the customers, 5 stars from me. <span class="right_quote">“</span></p>
				<p class="overview">
					<a href="#">Bakestop</a>
					<b>Australia</b>
				</p>
			<div class="star-rating">
				<ul class="list-inline">
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
				</ul>
			</div>
		</div>
		<div class="carousel-item">
			<div class="img-box"><img class="p-3 border border-primary" src="https://img.icons8.com/officel/100/000000/person-male.png"/></div>
			<p class="testimonial"><span class="left_quote">“</span>This application helps me to let customers make their own text neon signs. The app is very extensive and there is always service available if you have any questions. In addition, there are numerous Youtube videos available to help you on your way to building this app. Ideal if you sell customized products.<span class="right_quote">“</span></p>
			<p class="overview">
				<a href="#">Neonlampen.nl</a>
				<b>Netherlands</b>
			</p>
			<div class="star-rating">
				<ul class="list-inline">
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<!-- <li class="list-inline-item"><i class="fa fa-star-o"></i></li> -->
				</ul>
			</div>
		</div>
		<div class="carousel-item">
			<div class="img-box"><img class="p-3 border border-primary" src="https://img.icons8.com/officel/100/000000/person-male.png"/></div>
			<p class="testimonial"><span class="left_quote">“</span>Exactly the app I needed. Had an issue with changing the variant or style of the items on my website and the customer support reached out and helped me resolve my issue in 1 email. I recommend.<span class="right_quote">“</span></p>
			<p class="overview">
				<a href="#">Bling Discount</a>
				<b>United States</b>
			</p>
			<div class="star-rating">
				<ul class="list-inline">
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
					<li class="list-inline-item"><i class="fa fa-star"></i></li>
				</ul>
			</div>
		</div>		
	</div>
	<!-- Carousel controls -->
	<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
		<i class="fa fa-angle-left"></i>
	</a>
	<a class="carousel-control-next" href="#myCarousel" data-slide="next">
		<i class="fa fa-angle-right"></i>
	</a>
</div>